## Exercise-1

### Create Python program to find the average of 10 numbers using while loop

In [1]:
sum=0
i=0
while(i<11):
    i=i+1
    a=int(input())
    sum=sum+a
print("the average is:"+str(sum/10))

1
1
1
1
1
1
11
1
1
1
1
the average is:2.1

### Create Python program to find the geometric mean of n numbers

In [2]:
gm=1
n=int(input())
i=1
while(i<n+1):
    i=i+1
    a=int(input())
    gm=gm*a
gm=gm**(1/float(n))
print("the geometric mean is:"+ str(gm))

1
2
the geometric mean is:2.0

### Create Python program to check whether the given integer is a prime number or not

In [3]:
def checkprime(a):
    for i in range(a//2):
        i+=1
        if(a%i==0):
            return False
        i+=1

    return True    
        
checkprime(int(input()))

3

False

### Create Python program to implement linear search and implement binary search

In [4]:
def linear(arr,x):
    for i in range(0,len(arr)):
        if (arr[i]==x):
            return i
    print("the element is not present in the array")



def binarySearch(array, x, low, high):
    while low <= high:
        mid = low + (high - low)//2
        if array[mid] == x:
            return mid
        elif array[mid] < x:
            low = mid + 1
        else:
            high = mid - 1
    return -1
array = [3, 4, 9, 6, 7, 8, 93]
x = 8
print(linear(array,x))


array.sort()
result = binarySearch(array, x, 0, len(array)-1)
if result != -1:
    print("Element is present at index " + str(result)+"for the sorted array")
else:
    print("Not found")

5
Element is present at index 4for the sorted array

### Using math package, Create Python program to find the area of a triangle whose sides are given

In [7]:
import math
a=int(input())
b=int(input())
c=int(input())
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print("the rea is :%.2f"%area)

6
6
6
the rea is :15.59

## Exercise-2

### Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

In [8]:
import pandas as pd

#### Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3

In [9]:
data = {
    'Name': ['a','b','c','d','e','f','g','h','i','j'],
    'Age': [20, 21, 19, 18,324,1,234,1,4,134],
    'Marks1':[2,3,4,1,32,4,43,42,3,2],
    'Marks2':[40,233,44,213,432,4,43,42,3,2],
    'Marks3':[2,3,4,21,32,4,433,342,3,2]
}

df = pd.DataFrame(data)
print(df)

  Name  Age  Marks1  Marks2  Marks3
0    a   20       2      40       2
1    b   21       3     233       3
2    c   19       4      44       4
3    d   18       1     213      21
4    e  324      32     432      32
5    f    1       4       4       4
6    g  234      43      43     433
7    h    1      42      42     342
8    i    4       3       3       3
9    j  134       2       2       2

#### Create a new column with total marks

In [10]:
df.insert(loc=len(df.columns), column="Total Marks", value=df.Marks1 + df.Marks2 + df.Marks3, allow_duplicates=False)

In [11]:
print(df)

  Name  Age  Marks1  Marks2  Marks3  Total Marks
0    a   20       2      40       2           44
1    b   21       3     233       3          239
2    c   19       4      44       4           52
3    d   18       1     213      21          235
4    e  324      32     432      32          496
5    f    1       4       4       4           12
6    g  234      43      43     433          519
7    h    1      42      42     342          426
8    i    4       3       3       3            9
9    j  134       2       2       2            6

#### Find the lowest marks in Marks1

In [12]:
min_valuem1 = df['Marks1'].min()
print(min_valuem1)

1

#### Find the Highest marks in Marks2

In [13]:
max_valuem2 = df['Marks2'].max()
print(max_valuem2)

432

#### Find the average marks in Marks3

In [14]:
avg=df['Marks3'].sum()
print(avg/10)

84.6

#### Find student name with highest average

In [15]:
max = df['Total Marks'].max()
top_student = df[df['Total Marks'] == max]['Name'].values[0]
print(f'The student with the highest marks is {top_student}.')

The student with the highest marks is g.

#### Find how many students failed in Marks2 (<40)

In [16]:
below = (df['Marks2'] < 40).sum()

print("Number of elements below 40:", below)

Number of elements below 40: 3